@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>check your Inbox</h1>

<div class="main-agileinfo">
	<div class="agileits-top">

<div class="body">
	</div>
		<p>Password Reset Link has been sent to your email. Please check your Inbox..
		<span><a class="text-danger" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Your Inbox</a></span>
		</p>
	
	</div>
</div>

