@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		@*you don't need to write asp-action="Register" becuase he will go to [action] the same name of view *@
		@*you don't need to write method="post" becuase it is the defult *@

		<div asp-validation-summary="All"></div>
		<form asp-action="Login" method="post">
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email"></span>
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password"></span>
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="checkbox" required="">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
		@*anchor tag always work HTTPGet*@
		<p> <a asp-action="ForgetPassword"> Forget Password !</a></p>
	</div>
</div>

@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial" />
}

